.btn-link {
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

.btn--close {
  min-width: 32px;
  min-height: 32px;
  z-index: 1;
  position: absolute;
  right: 0.85rem;
  top: 0.85rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E");
  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.btn--reset {
  font-size: inherit;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

.btn-light {
  background-color: $white;
}

.btn-play {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $primary;
}
