details {
  min-height: 5px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  transition: all .3s;
  &:hover {
    z-index: 1;
    .summary__text {
      color: $brand;
    }
  }
  .card-body {
    padding-left: 4em;
  }
}

details[open] {
  summary {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpolyline points='112 328 256 184 400 328' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/%3E%3C/svg%3E");
  }
}

summary {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpolyline points='112 184 256 328 400 184' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/%3E%3C/svg%3E");
  padding-left: 4em !important;
}

summary:focus {
  & > * {
    color: $black;
  }
}

summary::-webkit-details-marker {
  display: none
}
