footer.footer {
  border-top: 1px solid $border-color;
  padding-top: 2rem;
  padding-bottom: 4rem;

  .nav-link {
    padding: 0.5em;
  }

  [aria-current="page"] {
    color: $gray-700 !important;
  }
}
