body {
  font-family: $font-family-sans-serif;
  min-height: 100vh;
}

::selection {
  background: #ffe3f6; /* WebKit/Blink Browsers */
  color: $black;
}
::-moz-selection {
  background: #ffe3f6; /* Gecko Browsers */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

hr {
  border-color: $border-color;
}


.brand {
  &-logo {
    height: 24px;
  }
  &-icon {
    height: 24px;
  }
}

.container {
  max-width: 1200px;
}

.close span {
  text-shadow: none;
}

.jumbotron {
  background: $white;
}

section {
  padding: 3em 0;
}

.sticky {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 100px;
  }
}

.canvas-phone {
  position: relative;
  max-width: 200px;
  &:after {
    z-index: 0;
    position: absolute;
    left: 0;
    border-radius: 3rem;
    content: "";
    width: 100%;
    height: 100%;
    @extend .shadow-lg;
    // transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    // transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    // backdrop-filter: saturate(180%) blur(8px);
  }
  img {
    position: relative;
    z-index: 1
  }
  .frame {
    border: 8px solid $primary;
    height: 24%;
    width: 80%;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.blurred {
  filter: blur(2px);
}

.grayscale {
  filter: grayscale(100%);
}
