#hubspot-messages-iframe-container {
  z-index: 900 !important;
}

div#hs-eu-cookie-confirmation {
  position: static !important;
  font-family: $font-family-sans-serif !important;
  border-top: 0 !important;
  box-shadow: none !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
  max-width: 1200px !important;
  padding: 20px 15px !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
  a, a:hover {
    color: $link-color !important;
  }
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  font-weight: 600 !important;
}
