.navbar__wrapper {
  position: sticky;
  top: 0;
  z-index: 10;

  .container {
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }
}

.navbar.navbar-light {
  padding: 1rem;
  background: none;
  box-shadow: none;
  background: transparent;
  // border-bottom: 1px solid $border-color;
  border-bottom: 1px solid var(--header-border-color);

  & > * {
    z-index: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgba(var(--navbar-bg-color), .8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  [aria-current="page"] {
    color: var(--base-text-color) !important;
  }

  svg {
    max-height: 2rem;
    width: auto;
  }

  .nav-link {
    color: var(--color-action);
    &:hover,
    &:focus {
      color: var(--color-action);
    }
  }

  .navbar-toggler {
    border: 0;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%230480ec' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    &:not(.collapsed) {
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%230480ec' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E");
      }
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(xs) {
      font-size: 1.5em;
      margin-top: 2em;
    }
  }

}
