.toasts {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.toast {
  background-color: var(--body-bg-color);
  border: 0;
  color: var(--base-text-color);
  margin: .85rem;
  margin-left: auto;
  @include media-breakpoint-down(xs) {
    max-width: 100%;
    margin: 0;
  }

  &.fade:not(.show) {
    > * {
      pointer-events: none;
    }
  }
}

.toast-body,
.toast-header {
  backdrop-filter: saturate(180%) blur(20px);
  padding: .5rem 1rem 1rem;
}

.toast-header {
  color: var(--base-text-color);
  background-color: var(--body-bg-color);
  padding: .5rem 1rem;

  .close {
    color: var(--base-text-color);
  }
}
